parameters:
	ignoreErrors:
		-
			message: "#^Variable \\$this might not be defined\\.$#"
			count: 8
			path: resources/views/_partials/dashboardwidgets/pageviews/pageviews.php

		-
			message: "#^Call to an undefined static method IgniterLabs\\\\VisitorTracker\\\\Models\\\\PageVisit\\:\\:where\\(\\)\\.$#"
			count: 1
			path: src/Classes/RepositoryManager.php

		-
			message: "#^Call to an undefined static method IgniterLabs\\\\VisitorTracker\\\\Models\\\\Settings\\:\\:get\\(\\)\\.$#"
			count: 1
			path: src/Classes/RepositoryManager.php

		-
			message: "#^Access to an undefined property IgniterLabs\\\\VisitorTracker\\\\Classes\\\\Tracker\\:\\:\\$readerManager\\.$#"
			count: 2
			path: src/Classes/Tracker.php

		-
			message: "#^Call to an undefined method IgniterLabs\\\\VisitorTracker\\\\Models\\\\Settings\\:\\:get\\(\\)\\.$#"
			count: 1
			path: src/Classes/Tracker.php

		-
			message: "#^Class IgniterLabs\\\\VisitorTracker\\\\GeoIp\\\\AbstractReader referenced with incorrect case\\: IgniterLabs\\\\VisitorTracker\\\\Geoip\\\\AbstractReader\\.$#"
			count: 2
			path: src/Classes/Tracker.php

		-
			message: "#^Class IgniterLabs\\\\VisitorTracker\\\\GeoIp\\\\ReaderManager referenced with incorrect case\\: IgniterLabs\\\\VisitorTracker\\\\Geoip\\\\ReaderManager\\.$#"
			count: 2
			path: src/Classes/Tracker.php

		-
			message: "#^Function ipv4_match_mask not found\\.$#"
			count: 1
			path: src/Classes/Tracker.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Facades\\\\AdminMenu\\:\\:setContext\\(\\)\\.$#"
			count: 1
			path: src/Controllers/PageViews.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Facades\\\\AdminMenu\\:\\:setContext\\(\\)\\.$#"
			count: 1
			path: src/Controllers/PageVisits.php

		-
			message: "#^Call to an undefined static method IgniterLabs\\\\VisitorTracker\\\\Models\\\\Settings\\:\\:instance\\(\\)\\.$#"
			count: 1
			path: src/Extension.php

		-
			message: "#^Class IgniterLabs\\\\VisitorTracker\\\\GeoIp\\\\ReaderManager referenced with incorrect case\\: IgniterLabs\\\\VisitorTracker\\\\Geoip\\\\ReaderManager\\.$#"
			count: 2
			path: src/Extension.php

		-
			message: "#^Call to an undefined static method IgniterLabs\\\\VisitorTracker\\\\Models\\\\Settings\\:\\:get\\(\\)\\.$#"
			count: 2
			path: src/GeoIp/GeoIp2.php

		-
			message: "#^Method IgniterLabs\\\\VisitorTracker\\\\GeoIp\\\\GeoIp2\\:\\:getEndpoint\\(\\) should return string but return statement is missing\\.$#"
			count: 1
			path: src/GeoIp/GeoIp2.php

		-
			message: "#^Call to an undefined static method IgniterLabs\\\\VisitorTracker\\\\Models\\\\Settings\\:\\:get\\(\\)\\.$#"
			count: 1
			path: src/GeoIp/Ipstack.php

		-
			message: "#^Class IgniterLabs\\\\VisitorTracker\\\\GeoIp\\\\GeoIp2 referenced with incorrect case\\: IgniterLabs\\\\VisitorTracker\\\\Geoip\\\\GeoIp2\\.$#"
			count: 1
			path: src/GeoIp/ReaderManager.php

		-
			message: "#^Class IgniterLabs\\\\VisitorTracker\\\\GeoIp\\\\Ipstack referenced with incorrect case\\: IgniterLabs\\\\VisitorTracker\\\\Geoip\\\\Ipstack\\.$#"
			count: 1
			path: src/GeoIp/ReaderManager.php

		-
			message: "#^Class Admin\\\\Models\\\\Customer not found\\.$#"
			count: 1
			path: src/Models/PageView.php

		-
			message: "#^Access to an undefined property \\$this\\(IgniterLabs\\\\VisitorTracker\\\\Models\\\\PageVisit\\)\\:\\:\\$headers\\.$#"
			count: 2
			path: src/Models/PageVisit.php

		-
			message: "#^Access to an undefined property IgniterLabs\\\\VisitorTracker\\\\Models\\\\PageVisit\\:\\:\\$country_name\\.$#"
			count: 1
			path: src/Models/PageVisit.php

		-
			message: "#^Access to an undefined property IgniterLabs\\\\VisitorTracker\\\\Models\\\\PageVisit\\:\\:\\$customer\\.$#"
			count: 1
			path: src/Models/PageVisit.php

		-
			message: "#^Access to an undefined property IgniterLabs\\\\VisitorTracker\\\\Models\\\\PageVisit\\:\\:\\$geoip\\.$#"
			count: 2
			path: src/Models/PageVisit.php

		-
			message: "#^Call to an undefined method IgniterLabs\\\\VisitorTracker\\\\Models\\\\PageVisit\\:\\:pluckDates\\(\\)\\.$#"
			count: 1
			path: src/Models/PageVisit.php

		-
			message: "#^Call to an undefined method IgniterLabs\\\\VisitorTracker\\\\Models\\\\PageVisit\\:\\:selectRaw\\(\\)\\.$#"
			count: 1
			path: src/Models/PageVisit.php

		-
			message: "#^Call to an undefined static method IgniterLabs\\\\VisitorTracker\\\\Models\\\\Settings\\:\\:get\\(\\)\\.$#"
			count: 1
			path: src/Models/PageVisit.php

		-
			message: "#^Call to an undefined static method Igniter\\\\System\\\\Facades\\\\Country\\:\\:getCountryNameByCode\\(\\)\\.$#"
			count: 1
			path: src/Models/PageVisit.php

		-
			message: "#^Class Admin\\\\Models\\\\Customer not found\\.$#"
			count: 1
			path: src/Models/PageVisit.php

		-
			message: "#^Call to an undefined method IgniterLabs\\\\VisitorTracker\\\\Models\\\\Settings\\:\\:get\\(\\)\\.$#"
			count: 2
			path: src/Models/Settings.php
